* {
    color: white;
}

html {
    font-size: clamp(1.125rem, 0.8438rem + 1.4063vw, 2.25rem);
    font-family: sans-serif;
  }

h1 {
    font-family: "Akony", sans-serif;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 2px;
    font-size: clamp(18px, 18px + 2vw, 36px);
    text-decoration: underline;
    text-decoration-color:#5EC198;
    text-underline-offset: 0.5em;
    margin-bottom: 10%;
}

li {
    font-family: "Neuropol", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 0.6em;
}

figcaption {
    font-family: "Neuropol", serif;
    font-weight: 500;
    font-style: normal;
    font-size: 0.5em;
}

p{
    font-family: "Neuropol", serif;
    font-weight: 400;
    line-height: 1.5;
    font-size: clamp(0.6rem, 1vw, 2rem);
}

.presentation p, .textbox p {
    font-size: 0.5em;
    width: 35ch;
}

.prodpics figcaption {
    font-family: "Akony";
    text-decoration: underline;
    text-underline-offset: 0.4em;
    text-decoration-color:#5EC198;
    font-size: 0.8em;
    margin-bottom: 5%;
}

.specs ul li {
    font-size: 0.4rem;
}

.cta {
    font-family: "Akony";
    letter-spacing: 2px;
}

.name {
    font-family: "Akony", sans-serif;
    font-weight: 400;
    font-size: 0.75em;
    padding: 1% 0;
    color: black;
    text-decoration: underline;
    text-decoration-color: #5EC198;
}

.comment {
    font-size: 0.5em;
    color: black;
    padding: 0.2rem 0;
    text-wrap: balance;
    max-width: 65ch;
}

.globalratings {
    font-size: 0.5em;
}

.globalratings p {
    font-family: 'Times New Roman', Times, serif;
}

.infos p {
    font-family: "Akony", sans-serif;
    font-size: 0.6rem;
    padding-bottom: 5%;
}

.infos a {
    font-size: 0.6em;
}

.socials p{
    font-size: 0.4em;
    max-width: 50ch;
}

footer p {
    font-size: 0.4em;
    max-width: 65ch;
}