/* Reset CSS */
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
    font: inherit;
}

html {
  color-scheme: dark light;
  /* width: clamp(0.875rem, 0.3438rem + 2.6563vw, 3rem); */
}

body {
  min-height: 100vh;
  margin: 0;
  overflow-x: hidden;
}

img,
picture,
svg,
video {
  max-width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    text-wrap: balance;
}

p,
li,
figcaption {
    text-wrap: pretty;
    /* max-width: 65ch; */
}


/* Globals & variables */

img[src="./images/logo_notext_white-r.png"]{
    height: 2.5rem;
    width: auto;
    padding: 0 0.3rem;
    margin: 0.5em 2em;
    
}

.box-shadow {
  box-shadow:  10px 14px -4px 5px rgb(0, 0, 0);
}

.drop-shadow {
  filter: drop-shadow(rgb(73, 73, 73) 5px 5px 5px);
}

.drop-shadow2 {
  filter: drop-shadow(rgb(169, 228, 151) 0px 5px 5px);
}

/* Section Header */

header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    overflow: hidden;
}

/* Section Nav bar */

nav {
    width: 100%;
    display: flex;
    position: relative;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background: #000000;
    background: linear-gradient(90deg,rgba(0, 0, 0, 1) 0%, rgba(10, 13, 13, 1) 20%, rgba(14, 20, 20, 1) 40%, rgba(10, 19, 20, 1) 60%, rgba(7, 32, 33, 1) 80%);

}

.icon {
  display: none;
}



nav ul {
    display: flex;
    list-style-type: none;
    gap: 25px;
    margin-right: 5vw;
}

li a {
    text-decoration: none;
}

/* ANIMATION CSS SHOOTING STARS */

.shooting-star {
    position: absolute;
    width: 100px;
    height: 2px;
    background: linear-gradient(90deg, white, transparent);
    animation: shoot 3s infinite ease-in;
  }
  
  .shooting-star:nth-child(1) {
    top: 20%;
    left: -100px;
    animation-delay: 0s;
  }
  
  .shooting-star:nth-child(2) {
    top: 35%;
    left: -100px;
    animation-delay: 1s;
  }
  
  .shooting-star:nth-child(3) {
    top: 50%;
    left: -100px;
    animation-delay: 2s;
  }
  
  @keyframes twinkle {
    0%,
    100% {
      opacity: 0.8;
    }
    50% {
      opacity: 0.4;
    }
  }
  
  @keyframes shoot {
    0% {
      transform: translateX(0) translateY(0) rotate(25deg);
      opacity: 1;
    }
    100% {
      transform: translateX(120vw) translateY(50vh) rotate(25deg);
      opacity: 0;
    }
  }
  
/* Head background + button) */

.head {
    display: flex;
    width: 100%;
    overflow: hidden;
    object-position: center;
    object-fit: contain;
    position: relative;
}

.head img {
    max-width: 100%;
}

/* Animation intersection */

.animationinterblock {
    background: linear-gradient(90deg,rgba(0, 0, 0, 1) 3%, rgba(9, 9, 121, 1) 38%, rgba(18, 154, 181, 1) 68%, rgba(0, 212, 255, 1) 100%);
    animation: gradient 15s ease infinite;
    background-size: 400% 400%;
    background-attachment: scroll;
    height: 1.5rem;
    overflow: auto;
    margin: auto;
    display: flex;
}

@keyframes gradient {
    0% {
        background-position: 0% 0%;
    }
    50% {
        background-position: 100% 100%;
    }
    100% {
        background-position: 0% 0%;
    }
}

.wave {
    background: rgb(255 255 255 / 25%);
    border-radius: 1000% 1000% 0 0;
    position: fixed;
    width: 200%;
    height: 12em;
    animation: wave 10s -3s linear infinite;
    transform: translate3d(0, 0, 0);
    opacity: 0.8;
    bottom: 0;
    left: 0;
    z-index: -1;
}

.wave:nth-of-type(2) {
    bottom: -1.25em;
    animation: wave 18s linear reverse infinite;
    opacity: 0.8;
}

.wave:nth-of-type(3) {
    bottom: -2.5em;
    animation: wave 20s -1s reverse infinite;
    opacity: 0.9;
}

@keyframes wave {
    2% {
        transform: translateX(1);
    }

    25% {
        transform: translateX(-25%);
    }

    50% {
        transform: translateX(-50%);
    }

    75% {
        transform: translateX(-25%);
    }

    100% {
        transform: translateX(1);
    }
}

/* Section Presentation */

.presentation {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    justify-items: center;
    align-items: center;
    background-color: #1E1E1E;
    padding-top: 1rem;
    padding-bottom: 1rem;
    text-align: center;
    background-image: url(./images/bg_pres.jpg);
    object-fit: cover;
    background-position: left;
}

.textbox h1 {
  filter: drop-shadow(rgb(169, 228, 151) 5px 5px 5px)
          drop-shadow(rgb(0, 0, 0) 5px 5px 5px);
}

.presentation img {
    height: 12em;
}

/* Section Peripherals */

.peripherals {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: #1E1E1E;
    padding-top: 2em;
    background-image: url(./images/peripherals_bg.png);
    object-fit: contain;
}

.imgperipherals {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 2em 0;
    gap: 5%;
}

.imgperipherals img{
  height: 6rem;
  filter: drop-shadow(rgb(0, 0, 0) 1rem 1rem 10px);
}

/*Section Products */

.products {
    display: flex;
    justify-content: space-evenly;
    align-content: flex-start;
    width: 100%;
    background-color: #1E1E1E;
    padding: 2em 0;
    background-image: url(./images/product_bg_mirror.png);
    object-fit: contain;
    background-repeat: no-repeat;
}

.prodpics {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-items: center;
    text-align: center;
    width: 33%;
}

figure {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

figcaption {
    display: table-caption;
    caption-side: top;
    text-align: center;
}

.specs{
    display: flex;
    flex-direction: column;
    align-content: center;
}

.specs ul {
    display: flex;
    flex-direction: column;
    text-align: left;
    padding-left: 1rem;
    list-style-position: inside;
}

.cta {
  background-image: linear-gradient(to right, #34e89e 0%, #0f3443  51%, #34e89e  100%)
}

.cta {
  text-align: center;
  margin: 1em 0 0 0;
  padding: 0.1em;
  width: auto;
  background-color: #ff9800;
  border-radius: 12.5%;
  border-color: black;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  box-shadow: 0 0 20px #34e89e;
}

.cta:hover {
  background-position: right center; /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
}

/* Animation block specs */

.specblocks {
    height: 100%;
    width: 75%;
    margin-top: 1em;
    position: relative;
    color: #ffffff;
    background-color: #1E1E1E;
    overflow: hidden;
    border-top: 1px solid rgba(255, 49, 49, 0.5);
    border-right: 1px solid rgba(0, 255, 255, 0.5);
    border-bottom: 1px solid rgba(57, 255, 20, 0.5);
    border-left: 1px solid rgba(255, 255, 113, 0.5);
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-self: center;
    padding: 1em;
    outline: 5px solid transparent;
    box-shadow: 2px -5px 10px -5px rgba(255, 49, 49, 0.5),
                5px 2px 10px -5px rgba(0, 255, 255, 0.5),
                2px 5px 10px -5px rgba(57, 255, 20, 0.5),
                -5px -2px 10px -5px rgba(255, 255, 113, 0.5);
  }

 .specblocks span {
    position: absolute;
    border-radius: 100vmax;
  }
  
  .top {
    top: 0;
    left: 0;
    width: 0;
    height: 5px;
    background: linear-gradient(
      90deg,
      transparent 50%,
      rgba(255, 49, 49, 0.5),
      rgb(255, 49, 49)
    );
  }
  
  .bottom {
    right: 0;
    bottom: 0;
    height: 5px;
    background: linear-gradient(
      90deg,
      rgb(57, 255, 20),
      rgba(57, 255, 20, 0.5),
      transparent 50%
    );
  }
  
  .right {
    top: 0;
    right: 0;
    width: 5px;
    height: 0;
    background: linear-gradient(
      180deg,
      transparent 30%,
      rgba(0, 255, 255, 0.5),
      rgb(0, 255, 255)
    );
  }
  
  .left {
    left: 0;
    bottom: 0;
    width: 5px;
    height: 0;
    background: linear-gradient(
      180deg,
      rgb(255, 255, 113),
      rgba(255, 255, 113, 0.5),
      transparent 70%
    );
  }
  
  .top {
    animation: animateTop 3s ease-in-out infinite;
  }
  
  .bottom {
    animation: animateBottom 3s ease-in-out infinite;
  }
  
  .right {
    animation: animateRight 3s ease-in-out infinite;
  }
  
  .left {
    animation: animateLeft 3s ease-in-out infinite;
  }
  
  @keyframes animateTop {
    25% {
      width: 100%;
      opacity: 1;
    }
  
    30%,
    100% {
      opacity: 0;
    }
  }
  
  @keyframes animateBottom {
    0%,
    50% {
      opacity: 0;
      width: 0;
    }
  
    75% {
      opacity: 1;
      width: 100%;
    }
  
    76%,
    100% {
      opacity: 0;
    }
  }
  
  @keyframes animateRight {
    0%,
    25% {
      opacity: 0;
      height: 0;
    }
  
    50% {
      opacity: 1;
      height: 100%;
    }
  
    55%,
    100% {
      height: 100%;
      opacity: 0;
    }
  }
  
  @keyframes animateLeft {
    0%,
    75% {
      opacity: 0;
      bottom: 0;
      height: 0;
    }
  
    100% {
      opacity: 1;
      height: 100%;
    }
  }
  

/*Section ratings*/

.notes{
  padding: 1em 0;
  display: flex;
  justify-content: space-evenly;
  text-align: center;
  width: 100%;
  overflow: hidden;
  background-image: url(./images/bg_ratings.svg);
  object-fit: fill;
  flex-wrap: wrap;
}

.rating{
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #5EC198;
  background-color: white;
  width: 20%;
  min-width: min-content;
  height: auto;
  box-shadow: 5px 5px 20px -5px #5EC198;
}

.ratings{
  align-self: center;
  justify-content: bottom;
  padding: 10px 0;
}

.rating p{
  max-width: 17ch;
}

.rating figure {
  justify-content: center;
  align-self: center;
}

.rating figure img{
  border-radius: 50%;
  width: 50%;
  margin: 1em;
  align-self: center;
}
/* Global rating board */

.globalratings{
  display: block;
  max-width: 800px; /* Max width */
  margin: 0 auto;
  border: 1px solid #5EC198;
  padding: 1.5em;
  box-shadow: 5px 5px 20px -5px #5EC198;
}

.globalratings p{
  color: black;
}

.heading{
  color: black;
}

.fa {
  display: inline-block;
  font-size: 1rem;
  margin-right: 5px;
}

.checked {
  color: orange;
}

/* Three column layout */
.side {
  float: left;
  width: 15%;
  margin-top: 10px;
  color: black;
}

.middle {
  float: left;
  width: 70%;
  margin-top: 10px;
}

/* Place text to the right */
.right2 {
  text-align: right;
  color: black;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* The bar container */
.bar-container {
  width: 100%;
  background-color: #f1f1f1;
  text-align: center;
  color: white;
  outline: 1px solid #5EC198;
}

/* Individual bars */
.bar-5 {width: 60%; height: 18px; background-color: #04AA6D;}
.bar-4 {width: 30%; height: 18px; background-color: #2196F3;}
.bar-3 {width: 10%; height: 18px; background-color: #00bcd4;}
.bar-2 {width: 4%; height: 18px; background-color: #ff9800;}
.bar-1 {width: 15%; height: 18px; background-color: #f44336;}

/* Responsive layout - make the columns stack on top of each other instead of next to each other */

@media (max-width: 400px) {
  .side, .middle {
    width: 100%;
  }
  /* Hide the right column on small screens */
  
  .right {
    display: none;
  }
}
/* Footer */

footer {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 1% 5% 1% 5%;
  background-color: #1E1E1E;
  margin-top: 1em;
}

.topfoot {
  display: flex;
  justify-content: space-between;
}

.infos{
  display: flex;
  flex-direction: column;
}

.socials{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logosocials{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10%;
  width: 100%;
  margin-top: 3%;
}

.logosocials figure img{
  height: 1rem;
}

.botfoot{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5%;
  text-wrap: nowrap;
}

.botfoot img{
  height: 2.5rem;
}